# Ignore files exceeding GitHub's 100 MB limit
dataset 2 analysis/dataset_2_extratrees_and_band_importance/output/csv files/windowed_features_raw_and_ica_cleaned.csv
dataset 1 analysis/dataset_1_feature_wise_analysis/output/csv files/windowed_features_all_families.csv
dataset 2 analysis/dataset_2_extratrees_and_band_importance/output/csv files/ica_cleaned_wide_features.csv
dataset 2 analysis/dataset_2_extratrees_and_band_importance/output/csv files/raw_wide_features.csv
